In [1]:
import netCDF4 as nc
import pandas as pd

precip_nc_file = 'CSR_GRACE_GRACE-FO_RL06_Mascons_all-corrections_v02.nc'
df1 = nc.Dataset(precip_nc_file, mode='r')

In [16]:
for key, value in df1.variables.items():
    print(key,value)

time_bounds <class 'netCDF4._netCDF4.Variable'>
float32 time_bounds(time, timebound)
unlimited dimensions:
current shape = (199, 2)
filling on, default _FillValue of 9.969209968386869e+36 used
time <class 'netCDF4._netCDF4.Variable'>
float32 time(time)
    bounds: time_bounds
    calendar: gregorian
    axis: T
    standard_name: Time
    long_name: Time
    Units: days since 2002-01-01T00:00:00Z
unlimited dimensions:
current shape = (199,)
filling on, default _FillValue of 9.969209968386869e+36 used
lon <class 'netCDF4._netCDF4.Variable'>
float32 lon(lon)
    bounds: lon_bounds
    valid_max: 359.875
    valid_min: 0.125
    axis: X
    standard_name: Longitude
    long_name: Longitude
    Units: degrees_east
unlimited dimensions:
current shape = (1440,)
filling on, default _FillValue of 9.969209968386869e+36 used
lat <class 'netCDF4._netCDF4.Variable'>
float32 lat(lat)
    bounds: lat_bounds
    valid_max: 89.875
    valid_min: -89.875
    axis: Y
    standard_name: Latitude
    long_name: Latitude
    Units: degrees_north
unlimited dimensions:
current shape = (720,)
filling on, default _FillValue of 9.969209968386869e+36 used
lwe_thickness <class 'netCDF4._netCDF4.Variable'>
float32 lwe_thickness(time, lat, lon)
    grid_mapping: WGS84
    coordinates: time lat lon
    standard_name: Liquid_Water_Equivalent_Thickness
    long_name: Liquid_Water_Equivalent_Thickness
    Units: cm
unlimited dimensions:
current shape = (199, 720, 1440)
filling on, default _FillValue of 9.969209968386869e+36 used

In [6]:
nc.head()

AttributeError: NetCDF: Attribute not found

In [8]:
lat = df1.variables['lat'][1:358]

C:\Users\Lenovo\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: UserWarning: WARNING: valid_min not used since it
cannot be safely cast to variable data type
  """Entry point for launching an IPython kernel.
C:\Users\Lenovo\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: UserWarning: WARNING: valid_max not used since it
cannot be safely cast to variable data type
  """Entry point for launching an IPython kernel.

In [10]:
lon = df1.variables['lon'][1:358]

C:\Users\Lenovo\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: UserWarning: WARNING: valid_min not used since it
cannot be safely cast to variable data type
  """Entry point for launching an IPython kernel.
C:\Users\Lenovo\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: UserWarning: WARNING: valid_max not used since it
cannot be safely cast to variable data type
  """Entry point for launching an IPython kernel.

In [12]:
time_var = df1.variables['time']

In [21]:
dtime = nc.num2date(time_var[:],time_var.Units)

In [24]:
lwe_thickness = df1.variables['lwe_thickness'][:]

In [36]:
lwe_thicnkess_npa = lwe_thickness.filled(fill_value=None)

In [38]:
lwe_thickness

masked_array(
  data=[[[-2.4686682 , -2.4686682 , -2.4686682 , ..., -2.4686682 ,
          -2.4686682 , -2.4686682 ],
         [-2.4686682 , -2.4686682 , -2.4686682 , ..., -2.4686682 ,
          -2.4686682 , -2.4686682 ],
         [-3.255136  , -3.255136  , -3.255136  , ..., -3.255136  ,
          -3.255136  , -3.255136  ],
         ...,
         [-1.3975726 , -1.3975726 , -1.3975726 , ..., -1.3975726 ,
          -1.3975726 , -1.3975726 ],
         [-1.2028674 , -1.2028674 , -1.2028674 , ..., -1.2028674 ,
          -1.2028674 , -1.2028674 ],
         [-1.2028674 , -1.2028674 , -1.2028674 , ..., -1.2028674 ,
          -1.2028674 , -1.2028674 ]],

        [[-1.5694039 , -1.5694039 , -1.5694039 , ..., -1.5694039 ,
          -1.5694039 , -1.5694039 ],
         [-1.5694039 , -1.5694039 , -1.5694039 , ..., -1.5694039 ,
          -1.5694039 , -1.5694039 ],
         [-2.4340773 , -2.4340773 , -2.4340773 , ..., -2.4340773 ,
          -2.4340773 , -2.4340773 ],
         ...,
         [-2.3898158 , -2.3898158 , -2.3898158 , ..., -2.3898158 ,
          -2.3898158 , -2.3898158 ],
         [-1.3910245 , -1.3910245 , -1.3910245 , ..., -1.3910245 ,
          -1.3910245 , -1.3910245 ],
         [-1.3910245 , -1.3910245 , -1.3910245 , ..., -1.3910245 ,
          -1.3910245 , -1.3910245 ]],

        [[-3.044039  , -3.044039  , -3.044039  , ..., -3.044039  ,
          -3.044039  , -3.044039  ],
         [-3.044039  , -3.044039  , -3.044039  , ..., -3.044039  ,
          -3.044039  , -3.044039  ],
         [-4.037924  , -4.037924  , -4.037924  , ..., -4.037924  ,
          -4.037924  , -4.037924  ],
         ...,
         [ 3.6735613 ,  3.6735613 ,  3.6735613 , ...,  3.6735613 ,
           3.6735613 ,  3.6735613 ],
         [ 4.643331  ,  4.643331  ,  4.643331  , ...,  4.643331  ,
           4.643331  ,  4.643331  ],
         [ 4.643331  ,  4.643331  ,  4.643331  , ...,  4.643331  ,
           4.643331  ,  4.643331  ]],

        ...,

        [[14.34227   , 14.34227   , 14.34227   , ..., 14.34227   ,
          14.34227   , 14.34227   ],
         [14.34227   , 14.34227   , 14.34227   , ..., 14.34227   ,
          14.34227   , 14.34227   ],
         [19.42275   , 19.42275   , 19.42275   , ..., 19.42275   ,
          19.42275   , 19.42275   ],
         ...,
         [-2.1988893 , -2.1988893 , -2.1988893 , ..., -2.1988893 ,
          -2.1988893 , -2.1988893 ],
         [-0.32625416, -0.32625416, -0.32625416, ..., -0.32625416,
          -0.32625416, -0.32625416],
         [-0.32625416, -0.32625416, -0.32625416, ..., -0.32625416,
          -0.32625416, -0.32625416]],

        [[24.762852  , 24.762852  , 24.762852  , ..., 24.762852  ,
          24.762852  , 24.762852  ],
         [24.762852  , 24.762852  , 24.762852  , ..., 24.762852  ,
          24.762852  , 24.762852  ],
         [23.685282  , 23.685282  , 23.685282  , ..., 23.685282  ,
          23.685282  , 23.685282  ],
         ...,
         [ 0.4120246 ,  0.4120246 ,  0.4120246 , ...,  0.4120246 ,
           0.4120246 ,  0.4120246 ],
         [ 2.379531  ,  2.379531  ,  2.379531  , ...,  2.379531  ,
           2.379531  ,  2.379531  ],
         [ 2.379531  ,  2.379531  ,  2.379531  , ...,  2.379531  ,
           2.379531  ,  2.379531  ]],

        [[15.46482   , 15.46482   , 15.46482   , ..., 15.46482   ,
          15.46482   , 15.46482   ],
         [15.46482   , 15.46482   , 15.46482   , ..., 15.46482   ,
          15.46482   , 15.46482   ],
         [18.963024  , 18.963024  , 18.963024  , ..., 18.963024  ,
          18.963024  , 18.963024  ],
         ...,
         [-0.53258187, -0.53258187, -0.53258187, ..., -0.53258187,
          -0.53258187, -0.53258187],
         [ 1.1252067 ,  1.1252067 ,  1.1252067 , ...,  1.1252067 ,
           1.1252067 ,  1.1252067 ],
         [ 1.1252067 ,  1.1252067 ,  1.1252067 , ...,  1.1252067 ,
           1.1252067 ,  1.1252067 ]]],
  mask=False,
  fill_value=1e+20,
  dtype=float32)

(199, 720, 1440)

NameError: name 'array1' is not defined

In [82]:
array1 = np.array([])
array2 = np.array([])
l1 = []
l2 = []

In [83]:
import numpy as np
for i in range(199):
    for j in range(720):
        l2.append(lwe_thickness[i][j][0])
    l1.append(l2)
    l2 = []

array1 = np.asarray(l1)

In [84]:
array1.shape

(199, 720)

In [72]:
dtime.shape

(199,)

In [86]:
lwe_thickness_ts = pd.DataFrame(array1,index=dtime)

In [87]:
lwe_thickness_ts.head()

,0,1,2,3,4,5,6,7,8,9,...,710,711,712,713,714,715,716,717,718,719
2002-04-18 00:00:00,-2.468668,-2.468668,-3.255136,-3.255136,-3.255136,-3.255136,-4.558678,-4.558678,-4.558678,-4.558678,...,-1.436168,-1.436168,-1.436168,-1.436168,-1.397573,-1.397573,-1.397573,-1.397573,-1.202867,-1.202867
2002-05-10 12:00:00,-1.569404,-1.569404,-2.434077,-2.434077,-2.434077,-2.434077,-3.522088,-3.522088,-3.522088,-3.522088,...,-4.693171,-4.693171,-4.693171,-4.693171,-2.389816,-2.389816,-2.389816,-2.389816,-1.391024,-1.391024
2002-08-16 12:00:00,-3.044039,-3.044039,-4.037924,-4.037924,-4.037924,-4.037924,-4.012780,-4.012780,-4.012780,-4.012780,...,1.642409,1.642409,1.642409,1.642409,3.673561,3.673561,3.673561,3.673561,4.643331,4.643331
2002-09-16 00:00:00,-3.201635,-3.201635,-2.518777,-2.518777,-2.518777,-2.518777,-1.432053,-1.432053,-1.432053,-1.432053,...,5.870046,5.870046,5.870046,5.870046,7.635104,7.635104,7.635104,7.635104,8.490572,8.490572
2002-10-16 12:00:00,-1.785586,-1.785586,-1.600790,-1.600790,-1.600790,-1.600790,-1.948665,-1.948665,-1.948665,-1.948665,...,3.733523,3.733523,3.733523,3.733523,4.931913,4.931913,4.931913,4.931913,5.409453,5.409453

In [88]:
lwe_thickness_ts.to_csv('lwe_thickness.csv')